body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(55, 55, 55);
}

h1 {
    color: red;
}

p {
    color: rgb(0, 200, 0);
}

div.quote {
    color: rgb(0, 200, 0);
    font-style: italic;
}